__pycache__
*.pyc
*.pyo
*.pyd
.env
.git
.vscode
.venv/
venv/

# Datoteke, ki jih ne želimo na Railwayu
test_rdw_api.py
scraping.py
rdw_top_brands.py
rdw_importer.py
export_data_to_csv.py
debug_rdw.py 
CarModel.py  
