# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local
*.env.local
.env.development

# Backup files
*.bak
*.backup

# OS
.DS_Store
Thumbs.db

# Railway
.railway/.env
.env
.env

#json
secrets.json
